.center {
	width: 80%;
	margin-left: 16%;
}

.cardresult ul {
	/* card group */
	padding: 0;
	display: flex;
	flex-flow: row wrap;
}

.cardresult ul li {
	/* individual cards */
	list-style: none;
	border: 1px solid lightskyblue;
	background: white;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px;
	border-radius: 5px;
	min-width: 350px;
	max-width: 350px;
	flex: 1 0 20%;
	text-align: center;
}

.cardresult ul li h3 {
	margin: 0;
	font-size: 100%;
	background: #dff2fe;
	padding: 5px 5px;
	margin-bottom: 10px;
}

.cardresult ul li dl {
	margin: 0;
	overflow: auto;
}

.cardresult ul li dl.info {
	padding-left: 12%;
	padding-top: 2%;
	display: flex;
}

.cardresult ul li dl.info dt {
	width: 25%;
	text-align: center;
}

.cardresult ul li dl.info dd {
	width: 30%;
	font-size: 14px;
	margin-top: 1.75em;
	margin-left: -28%;
	border-top: 1px solid lightgray;
	text-align: center;
}

.cardresult ul.header {
	display: none;
}

a {
	text-decoration: none !important;
}

img {
	padding-bottom: 10px;
	height: 50px;
	width: 50px;
}

.button-bar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	position: relative;
	margin: 0;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
	background: #0d5287;
	color: white;
	font-size: 14px;
	cursor: pointer;
}

.prev {
	margin-right: 10%;
}

.next {
	margin-right: 5%;
}

.button::after {
	content: '';
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
}

.button:hover {
	background: #0585e8;
}

/* Arrow Buttons */

/* ------------- */

.next::after, .prev::after {
	border-style: solid;
}

/* Next Button */

/* ----------- */

.next::after {
	right: -22px;
	border-width: 12px;
	border-color: transparent transparent transparent #0d5287;
}

.next:hover::after {
	border-left-color: #0585e8;
}

/* Prev Button */

/* ----------- */

.prev::after {
	left: -22px;
	border-color: transparent #0d5287 transparent transparent;
	border-width: 12px;
}

.prev:hover::after {
	border-right-color: #0585e8;
}
