@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
.center, #wrap {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50% !important;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

* {
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
}

#wrap {
	width: 85%;
	height: auto;
}

#wrap .card {
	margin-top: 2%;
	width: 32%;
	height: auto;
	background: #fff;
	box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.3);
	border: 1px solid lightskyblue;
	position: relative;
	border-radius: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	min-width: 500px;
}

#wrap .card:nth-child(2) {
	margin: 0 2%;
}

#wrap .card h3 {
	font-size: 18px;
	font-weight: 700;
	margin-top: 20px;
	color: #E63D3A;
	opacity: 0.6;
}

#wrap .card hr {
	width: 10%;
	opacity: 0.5;
	margin: 10px auto;
}

p {
	font-size: 15px !important;
	word-wrap: break-word;
}

@media screen and (max-width: 480px) {
	#wrap {
		top: 10%;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}
	#wrap .card {
		width: 100%;
	}
	#wrap .card:nth-child(2) {
		margin: 50px 0;
	}
	#wrap .card:nth-child(3) {
		margin-bottom: 20px;
	}
}

img {
	padding-top: 5px;
	height: 350px;
	width: 350px;
}
