{% extends 'base.html' %}

{% block head %}
{% load static %}
<title> Groups </title>

<link rel="stylesheet" type="text/css" href="{% static 'main/groups.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


{% endblock %}

{% block body %}

<div class="center">
	<div class="cardresult" id="results">
		<ul>
			{% for d in data %}
				<li>
					<a href="/unposd/groups/{{d.group_id}}">
						<h3>{{d.name}}</h3>
					</a>

					<dl class="info">

						<dt><i class="fas fa-images"></i></dt>
						<dd> {{ d.total_photos }} </dd>

						<dt><i class="fas fa-users"></i></dt>
						<dd> {{ d.members_count }} </dd>

						<dt><i class="far fa-id-badge"></i></dt>
						<dd> {{ d.group_id }} </dd>

					</dl>
				</li>
			{% endfor %}
		</ul>

		<div class="fix-bottom">
			<div class="button-bar">
				{% if not page == 1%}
					<a class="button prev" onclick="decrement('{{page}}')"> Previous </a>
				{% endif %}
		
				{% if not last%}
					<a class="button next" onclick="increment('{{page}}')"> Next </a>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<script>
	var decrement = function (page) {
		var page = parseInt(page) - 1;
		var location = window.location.href.split('?')[0] + '?page=' + page;
		window.location = location;
	}

	var increment = function (page) {
		var page = parseInt(page) + 1;
		var location = window.location.href.split('?')[0] + '?page=' + page;
		window.location = location;
	}
</script>

{% endblock %}