{% extends 'base.html' %}

{% block head %}
{% load static %}
<title> Photos </title>

<link rel="stylesheet" type="text/css" href="{% static 'main/photos_display.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

{% endblock %}

{% block body %}

<div id="wrap">
	<div class="card">
		<img src="{% static 'images/' %}{{photo.group_id}}/{{photo.photo_id}}.jpg" alt="">
		<h3> {{ photo.title }} </h3>
		<hr/>

		<p> Views : {{ photo.views }} </p>
		<hr/>

		<p> uploaded by : {{ photo.user }} </p>
		<hr/>

		<p> tags: {{ photo.tags }}</p>

	</div>
</div>
{% endblock %}