{% extends 'base.html' %}

{% block head %}
{% load static %}
<title> Photos </title>

<link rel="stylesheet" type="text/css" href="{% static 'main/groups.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

{% endblock %}

{% block body %}

<div class="center">
	<div class="cardresult" id="results">
		<ul>
			{% for d in data %}
				<li>
					<img src="{% static 'images/' %}{{d.group_id}}/{{d.photo_id}}.jpg" alt="">
					<a href="/unposd/photos/{{d.photo_id}}">
						<h3>{{d.title}}</h3>
					</a>

					<dl class="info">

						<dt><i class="fas fa-eye"></i></dt>
						<dd> {{ d.views }} </dd>

						<dt><i class="far fa-id-badge"></i></dt>
						<dd> {{ d.photo_id }} </dd>

					</dl>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="navbar navbar-fixed-bottom fix-bottom">
<div class="button-bar">
	{% if not page == 1%}
		<a class="button prev" onclick="decrement('{{page}}')"> Previous </a>
	{% endif %}

	{% if not last%}
		<a class="button next" onclick="increment('{{page}}')"> Next </a>
	{% endif %}
</div>
</div>

<script>
	var decrement = function(page) {
		var page = parseInt(page) - 1;
		var location = window.location.href.split('?')[0] + '?page='+page;
		window.location = location;	
	}

	var increment = function(page) {
		var page = parseInt(page) + 1;
		var location = window.location.href.split('?')[0] + '?page='+page;
		window.location = location;	
	}
</script>

{% endblock %}