{% extends 'base.html' %}

{% block head %}
	{% load static %}
	<title> Login </title>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
{% endblock %}

{% block body %}
	<div class="card card-container">
		<!-- <h2> Welcome </h2> -->
		<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}

			<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
		</form>
	</div>
{% endblock %}
